@import "rupture"

/* General */
content-container()
  max-width 1200px
  margin 0 auto
  padding 0 15px

body
  font-family: "museo-sans", sans-serif
  font-weight: 300

p
  font-weight: 300

.full-width
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: initial

.row-container
  margin: 0 auto
  max-width: 1000px

a,
a:visited,
a:hover,
a:focus,
a:active
  color: #27272b
  text-decoration: none
  font-weight: 700

/* HEADLINES */
h2
  font-size: 2.0em
  font-weight: 300
  color: #fff
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px
  position: absolute
  top: -1.5em
  z-index: 100

h2 a,
h2 a:hover,
h2 a:visited,
h2 a:active,
h2 a:link
  color: #fff !important

h3
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
  font-weight: 300
  font-size: 2.5em

h4
  color: dimgrey
  font-weight: 200
  font-size: 1.5em

#site-navigation
  display: inline
  position: relative
  float: right
  clear: both
  top: -2.7em
  color: #fff

/* Header */
.header
  background-position: center
  background-size: cover
  background-color: #dfb95d
  background-image: url(../img/header-tofino@desktop.jpg)
  width: 100%
  height: 75vh
  min-height: 550px
  position: relative
  margin: 0
  padding: 0
  overflow: hidden
    
  &:before
    content: ""
    color: #ff0000
    display: block
    position: absolute
    width: 100%
    height: 100%
    bottom: 0px
    background: url(../img/header-fade.png) repeat-x bottom
    opacity: 0.6

  &__content
    content-container()

  &__title a
    text-decoration: none
    color: #fff
    font-weight: 100

  &__slogan
    top: 0
    position: relative
    color: #fff
    text-align: center
    text-transform: uppercase
    font-weight: 500
    border: 7px solid #fff
    width: 95%
    padding: 0 15px
    max-width 1000px
    font-size: 2.5em
    margin: 25vh auto
    +above(40rem)
      font-size: 3.7em
      margin: 20vh auto
    +above(64rem)
      font-size: 4rem
      margin: 25vh auto

.main-navigation ul
  list-style: none
  margin: 0
  padding-left: 0

.main-navigation li
  float: left
  position: relative
  padding: 0 0 0 1.3em

.main-navigation a
  display: block
  text-decoration: none
  text-transform: uppercase
  color: #fff

/* Body */
body.home div#top
  height: 10em

.row-bright
  background-color: #f1f7f7
  padding: 4em 0 3em 0

.row-dark
  background-color: #160c00
  padding: 2em 0 1em 0
  color: #fff

.row-caption
  background-color: #f1f7f7
  padding: 4.7em 0 3.5em 0
  text-align: center

.row-inverse
  background-color: #1c1c1c
  padding: 4.7em 0 3.5em 0
  color: #fff
  text-align: center

.row-inverse p
  font-size: 1.5em
  font-weight: 200

.row-tum
  background-color: #ebebeb
  padding: 2em 0 0 0 !important

.row-lmu
  background-color: #ebebeb
  padding: 2em 0 0 0 !important

.row-lmu-bg
  background-color: #1b7e41
  padding: 2em 0 1em 0
  color: #fff

.row-lmu-navigator
  background-color: #f1f7f7
  background-image: url(../img/projects-lmunavigator-bg.png)
  background-size: cover
  padding: 4em 0 4em 0

.row-footer
  background-color: #212121
  padding: 2.5em 0 4em 0
  color: #fff

.row-footer span
  width: 100%
  line-height: 3em
  text-transform: uppercase

.row-bg
  background-size: cover

.row-teaser p
  margin: 0.5em 0 0.8em 0
  text-align: center
  font-size: 2.3em
  font-weight: 100

/* FOOTER */
footer a,
footer a:visited,
footer a:hover
  color: #fff
  font-size: 0.9em
  line-height: 2em

footer a:hover
  color: #a8a8a8