doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Lukas Ziegler — Web Developer at Red Bull Media House
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='styles.css')
    link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png?v=PYEREPLyrE')
    link(rel='icon', type='image/png', href='/favicon/favicon-32x32.png?v=PYEREPLyrE', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon/favicon-16x16.png?v=PYEREPLyrE', sizes='16x16')
    link(rel='manifest', href='/favicon/manifest.json?v=PYEREPLyrE')
    link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg?v=PYEREPLyrE', color='#ffc40d')
    link(rel='shortcut icon', href='/favicon/favicon.ico?v=PYEREPLyrE')
    meta(name='apple-mobile-web-app-title', content='lukasziegler.com')
    meta(name='application-name', content='lukasziegler.com')
    meta(name='msapplication-config', content='/favicon/browserconfig.xml?v=PYEREPLyrE')
    meta(name='theme-color', content='#dfb95d')
    script(type='text/javascript', src='//use.typekit.net/gwz3goh.js')
    script(type='text/javascript').
      try {
        Typekit.load();
      } catch (e) {}
  body
    header.header
      .header__content
        h1.header__title
          a(href='/') lukasziegler.com
        h2.header__slogan
          a.header__slogan-link.scroll(href='#panelStudies') I'm a Computer Scientist
    #panelStudies.panel
      .panel__container
        .panel__content
          h3.panel__headline Computer Science
          p.panel__paragraph My studies have trained me to recognize problems, understand them, and find effective solutions, whereas my empirical background helps me to better analyze users’ behavior and understand their needs. I chose to first lay my foundation in <a href='http://www.in.tum.de/' target='_blank'>Computer Science</a> and afterwards specialize in the field of <a href='http://www.mimuc.de' target='_blank'>Media Informatics</a>. After completing my studies, I started working as a web developer for <a href='https://www.redbullmediahouse.com/' target='_blank'>Red Bull Media House</a>.
        .panel__image
          img.panel__image-view(src='img/mockup-iphone.png', alt='')
    // SPACER - 1st row
    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-bright.jpg);')
      .row-container.row-teaser
        p ... with a passion for media and photography
    // 2nd ROW: HOBBIES
    .row.row-bright.full-width
      .row-container
        h3 Hobbies
        .row(style='padding-bottom: 2em')
          .large-5.medium-6.columns.hide-for-small-only
            img(src='img/iceland.jpg', alt='')
          .large-7.medium-6.columns
            p Through my hobbies I try to keep a good balance to my work life.
            .row
              .large-4.columns
                h4.text-center Sports
              .large-4.columns
                h4.text-center Photography
              .large-4.columns
                h4.text-center Outdoors
    // 3rd ROW - SEPARATOR
    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-dark.jpg);')
      .row-container.row-teaser
        p ... and the desire to change the way we use media today
    // 3rd ROW: MEDIA PROJECTS
    .row.row-bright.full-width
      .row-container
        .row
          .large-5.columns
            h3 Projects
            p Through my passion for sports I was able to combine my interests for computers and media in my freelance work, where I acquired most of my practical experience working for the <a href='http://www.leichtathletik.de/' target='_blank'>German Athletics Association</a>. To give my university projects a deeper meaning I worked on a student-based research project called <a href='http://lmu-navigator.github.io/' target='_blank'>LMU Roomfinder</a>.
          .large-7.medium-10.medium-centered.large-uncentered.columns
            img(src='img/mockup-ipad.png')
    footer.footer
      .footer__wrapper
        .footer__section.footer__section--cta Get in touch
        .footer__section
          span.footer__section-title Social Media
          a.footer__section-link(href='http://www.facebook.com/lukaszieglercom', target='_blank') Facebook
          a.footer__section-link(href='https://twitter.com/ZieglerLukas', target='_blank') Twitter
        .footer__section
          span.footer__section-title Photography
          a.footer__section-link(href='https://instagram.com/lukasziegler', target='_blank') Instagram
          a.footer__section-link(href='https://www.pinterest.com/lukasziegler/pins/', target='_blank') Pinterest
          a.footer__section-link(href='https://500px.com/lukasziegler', target='_blank') 500px
        .footer__section
          span.footer__section-title Computer Science
          a.footer__section-link(href='https://github.com/lukasziegler/', target='_blank') GitHub
          a.footer__section-link(href='https://www.linkedin.com/in/lukasziegler', target='_blank') LinkedIn
          a.footer__section-link(href='https://www.xing.com/profile/Lukas_Ziegler2', target='_blank') Xing
    script(src='js/jquery-2.1.4.min.js')
    script(src='js/google-analytics.js')
    script(src='js/smooth-scroll.js')
    script(src='js/modernizr.js')
