footer.footer
  .footer__wrapper
    .footer__section
      span.footer__cta Contact
    .footer__section
      span.footer__section-title Social Media
      a.footer__section-link(href='http://www.facebook.com/lukaszieglercom', target='_blank') Facebook
      a.footer__section-link(href='https://twitter.com/ZieglerLukas', target='_blank') Twitter
    .footer__section
      span.footer__section-title Photography
      a.footer__section-link(href='https://instagram.com/lukasziegler', target='_blank') Instagram
      a.footer__section-link(href='https://www.pinterest.com/lukasziegler/pins/', target='_blank') Pinterest
    .footer__section
      span.footer__section-title Computer Science
      a.footer__section-link(href='https://github.com/lukasziegler/', target='_blank') GitHub
      a.footer__section-link(href='https://www.linkedin.com/in/lukasziegler', target='_blank') LinkedIn
script(src='js/jquery-2.1.4.min.js')
script(src='js/google-analytics.js')
script(src='js/smooth-scroll.js')
script(src='js/modernizr.js')
