footer.footer
  .footer__wrapper
    .footer__section
      a.footer__cta(href='https://wa.me/qr/OHNIKZZWK43VC1' target='_blank') Contact

    .footer__section
      span.footer__section-title Sound Journeys
      a.footer__section-link(href='https://lukasziegler.com/handpan/') Handpan workshops
      a.footer__section-link(href='https://linktr.ee/lukasziegler', target='_blank') Upcoming events
      a.footer__section-link(href='https://retreats-in-oesterreich.at/', target='_blank') Handpan retreats

    .footer__section
      span.footer__section-title Social Media
      a.footer__section-link(href='https://instagram.com/lukasziegler', target='_blank') Instagram
      a.footer__section-link(href='http://www.facebook.com/lukaszieglercom', target='_blank') Facebook
      a.footer__section-link(href='https://twitter.com/ZieglerLukas', target='_blank') Twitter

    .footer__section
      span.footer__section-title More
      a.footer__section-link(href='https://www.linkedin.com/in/lukasziegler', target='_blank') LinkedIn
      a.footer__section-link(href='https://github.com/lukasziegler/', target='_blank') GitHub
      a.footer__section-link(href='/imprint.html') Imprint

script(src='js/jquery-2.1.4.min.js')
script(src='js/google-analytics.js')
script(src='js/smooth-scroll.js')
script(src='js/modernizr.js')
