.footer
  background-color #212121
  padding 50px 0
  color #fff

  &__wrapper
    content-container(30px)
    max-width 1000px
    display flex
    justify-content space-around
    flex-wrap wrap
    +above('tablet')
      justify-content space-between

  &__cta
    padding 5px 10px
    border 1px solid white
    background-color white
    color #212121
    text-transform uppercase
    cursor default

  &__section
    min-width 175px
    padding-bottom 25px

    &-title
      display block
      text-transform uppercase
      padding-bottom 1px
      margin-bottom 12px
      margin-right 5px
      border-bottom 1px solid rgba(#fff, 0.8)

    &-link
      display block
      text-decoration none
      font-size 0.9rem
      font-weight 300
      line-height 2rem
      &, &:visited
        color #b9b9b9
      &:hover, &:focus
        color #fff
