.panel
  padding 15px 30px
  +above('tablet')
    padding 30px 45px
  +above('desktop')
    padding 45px 45px
  background-color paleBlue

  &__container
    max-width maxWidthContent
    margin 0 auto
    display block
    +above('desktop')
      display flex

  &__headline
    max-width maxWidthContent
    margin 0 auto
    padding-bottom 10px
    font-size 40px
    line-height 1.4

  &__content-block
    width 100%

  &__paragraph
    font-size 16px
    line-height 1.6
    +above('tablet')
      font-size 18px

  &__image-block
    flex-shrink 0
    flex-grow 1
    max-width 300px
    margin 0 auto
    +above('desktop')
      margin 0
      max-width 350px
      &--right
        margin-left 35px
      &--left
        order -1
        margin-right 35px
