doctype html
html(lang='en')
  - var pageTitle = 'Gewinnspiel – '
  include ../templates/header.pug
  body
    header.header
      .header__content
        h1.header__title
          a(href='/') Lukas Ziegler
        h2.header__slogan
          a.header__slogan-link.scroll(href='#panelStudies') Gewinnspiel

    .panel#panelStudies
      h3.panel__headline Instagram-Gewinnspiel
      .panel__container
        .panel__content-block
          p.panel__paragraph <b>Gewinn:</b> 1x den Onlinekurs <a href="https://www.maltemartenmethod.com/the-art-of-jamming" target="_blank"><b>The Art of Jamming</b></a> von der Malte Marten Method im Wert von <b>149 Euro</b>.
          p Gewinnspiel vom August 2025 – Instagram-Beitrag

          

          h4 Teilnahmebedingungen

          p.panel__paragraph <b>So nimmst du teil:</b>

          ol.panel-list.panel-list--numbered
            li <b>Teile einen dieser Posts</b> in deiner Story und markiere <a href="https://www.instagram.com/lukasziegler/" target="_blank">@lukasziegler</a>
            li <b>Kommentiere den Gewinnspiel-Beitrag</b> <br> (z.B. was dich an der Handpan fasziniert oder warum du gerne gewinnen möchtest)
            li <b>Folge folgenden Accounts:</b> <a href="https://www.instagram.com/lukasziegler/" target="_blank">@lukasziegler</a> und <a href="https://www.instagram.com/yogamitalex.pi" target="_blank">@yogamitalex.pi</a>.

          p.panel__paragraph <b>Teilnahmeschluss:</b> 17.08.2025 um 16:00 Uhr 

          p.panel__paragraph <b>Gewinner:in:</b><br>Die Gewinner:in wird am <b>Mo, 18.08.2025</b> per Instagram-DM benachrichtigt.

          p.panel__paragraph <b>Extra für alle Teilnehmer:</b> <br> Wenn du an dem Gewinnspiel teilnimmst und alle drei Schritte erfüllst, erhältst du als Dankeschön für deinen Support ...

          ul.panel-list.panel-list--unnumbered
            li 10 % Rabattcode auf Online-Kurse der Malte Marten Method
            li 100 Euro Rabatt auf ausgewählte Handpans von Yatao

          p.panel__paragraph Diese Rabatte sind kein Trostpreis, sondern ein echtes Dankeschön für deine Teilnahme.

          h4 Rechtliches

          ul.panel-list.panel-list--unnumbered
            li Teilnahme ab 18 Jahren
            li Keine Barauszahlung möglich
            li Der Rechtsweg ist ausgeschlossen
            li Das Gewinnspiel steht in keiner Verbindung zu Instagram oder Meta Platforms, Inc.
    


          h4 Über den Kurs

          p.panel__paragraph <b>Malte Marten</b> und <b>Konstantin Rössler</b> haben mit  <a href="https://www.maltemartenmethod.com/the-art-of-jamming" target="_blank"><b>The Art of Jamming</b></a> einen Onlinekurs geschaffen, der dich Schritt für Schritt in deinen eigenen Flow und in das Spielen zu zweit führt. Ganz ohne Noten oder Druck – dafür mit spielerischer Freude, Struktur und Tiefe.
          p.panel__paragraph Du lernst in deinem eigenen Tempo, entwickelst dein Rhythmusgefühl weiter und erforschst kreative Spielmuster, mit denen du aus dem Moment heraus Musik entstehen lässt. Ideal für alle, die bereits ein wenig spielen oder ihre musikalische Ausdruckskraft vertiefen möchten.
          p.panel__paragraph Mehr zum Kurs erfährst du auf: <a href="https://www.maltemartenmethod.com/the-art-of-jamming" target="_blank"><b>www.maltemartenmethod.com/the-art-of-jamming</a>



    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-dark.jpg);')
      .row-container.row-teaser

    .panel
      h3.panel__headline Weitere Angebote von Lukas
      .panel__container
        .panel__content-block

          p.panel__paragraph In 2025 gibt es folgende Möglichkeiten Handpan mit Lukas spielen zu lernen: 

          ul.panel-list.panel-list--left-aligned_desktop
            li.panel-list__item <b><a href="https://retreats-in-oesterreich.at/handpan-retreat-saalbach-2025" target="_blank" class="link">Handpan Beginner Days im September</a></b> (18.-21. Sept 2025) <br>Vielleicht ist dieses 4-tägige Yoga- und Handpan-Retreat etwas für dich? 4 Tage Yoga und tägliche Handpan-Workshops im Salzburger Land


          p.panel__paragraph Die <b>Handpan-Anfänger-Workshops</b> finden statt am:
          
          ul.panel-list.panel-list--left-aligned_desktop
            li.panel-list__item <b>11. Oktober 2025</b> (9:30-13:30 Uhr) – in <a href="https://maps.app.goo.gl/3M8UJzcahXuMkDNW8" target="_blank" class="link">Innsbruck (MYoga Atelier)</a>
            li.panel-list__item <b>24. Oktober 2025</b> (15-19 Uhr) – in <a href="https://maps.app.goo.gl/TvnCGAAM7k2kNcjC9" target="_blank" class="link">Hallein (Aryuveda Zentrum)</a>
            li.panel-list__item <b>22. November 2025</b> (15:30-19:30 Uhr) – in <a href="https://maps.app.goo.gl/sBHQQ8xYkik9E3jo6" target="_blank" class="link">Hemau (Blauhornstadel)</a>


          p.panel__paragraph Und die <b>Handpan-Aufbaukurse</b> finden statt am:

          ul.panel-list.panel-list--left-aligned_desktop
            li.panel-list__item <b>28. September 2025</b> (15-19 Uhr) – in <a href="https://maps.app.goo.gl/TvnCGAAM7k2kNcjC9" target="_blank" class="link">Hallein (Aryuveda Zentrum)</a>
            li.panel-list__item <b>22. November 2025</b> (9-12 Uhr) – in <a href="https://maps.app.goo.gl/sBHQQ8xYkik9E3jo6" target="_blank" class="link">Hemau (Blauhornstadel)</a>

          p.panel__paragraph Such dir deinen Wunschtermin aus und sei dabei! <br><br>

          p.panel__paragraph(style="padding: 16px 0")
            a.cta(href="/handpan/") Weitere Infos zu Workshops
          p.panel__paragraph(style="padding: 16px 0")
            a.cta(href="https://linktr.ee/handpan.with.lukas" target="_blank") Weitere Angebobte von Lukas
          

    .panel(style="padding:0")
      .panel__container
        .panel__content-block
          p.panel__paragraph
            img.panel__image-view(src='../img/lukas-handpan-closeup@desktop.jpg', alt='')

    include ../templates/footer.pug