doctype html
html(lang='en')
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Handpan lernen mit Lukas Ziegler
  link(rel='stylesheet', href='../css/foundation.css')
  link(rel='stylesheet', href='../styles.css')
  link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png?v=PYEREPLyrE')
  link(rel='icon', type='image/png', href='/favicon/favicon-32x32.png?v=PYEREPLyrE', sizes='32x32')
  link(rel='icon', type='image/png', href='/favicon/favicon-16x16.png?v=PYEREPLyrE', sizes='16x16')
  link(rel='manifest', href='/favicon/manifest.json?v=PYEREPLyrE')
  link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg?v=PYEREPLyrE', color='#ffc40d')
  link(rel='shortcut icon', href='/favicon/favicon.ico?v=PYEREPLyrE')
  meta(name='apple-mobile-web-app-title', content='lukasziegler.com')
  meta(name='application-name', content='lukasziegler.com')
  meta(name='msapplication-config', content='/favicon/browserconfig.xml?v=PYEREPLyrE')
  meta(name='theme-color', content='#dfb95d')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300,700|Open+Sans:300,400&display=swap' rel='stylesheet')
  script(type='text/javascript', src='//use.typekit.net/gwz3goh.js')
  script(type='text/javascript').
    try {
      Typekit.load();
    } catch (e) {}

  body
    header.header.header--handpan
      .header__content
        h1.header__title
          a(href='/') Lukas Ziegler
        h2.header__slogan
          a.header__slogan-link.scroll(href='#panelStudies') Handpan lernen

    .panel#panelStudies
      h3.panel__headline Handpan Workshops
      .panel__container
        .panel__content-block
          p.panel__paragraph Auf dieser Seite erfährst du in Kürze mehr über die bevorstehenden Handpan-Beginner-Workshops von Lukas.
          
        .panel__image-block.panel__image-block--right
          img.panel__image-view(src='img/mockup-iphone.png', alt='')

    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-bright.jpg);')
      .row-container.row-teaser
    
    .panel
      h3.panel__headline Die nächsten Termine
      .panel__container
        .panel__content-block
          p.panel__paragraph Lorem ipsum
          
          ul.panel-list.panel-list--left-aligned_desktop
            li.panel-list__item 12. April 2025 (14-18 Uhr) – in Hallein
            li.panel-list__item 17. Mai 2025 (14-18 Uhr) – in Hallein
        .panel__image-block.panel__image-block--left
          img.panel__image-view(src='img/iceland.jpg', alt='')

    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-dark.jpg);')
      .row-container.row-teaser

    .panel
      h3.panel__headline Anmeldung
      .panel__container
        .panel__content-block
          p.panel__paragraph Per WhatsApp oder Email. Näheres kommt spätestens morgen.
        .panel__image-block.panel__image-block--right
          img.panel__image-view(src='img/mockup-ipad.png', alt='', style='width: 300px')

    include ../templates/footer.pug
