doctype html
html(lang='en')
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Handpan lernen mit Lukas
  link(rel='stylesheet', href='../css/foundation.css')
  link(rel='stylesheet', href='../styles.css')
  link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png?v=PYEREPLyrE')
  link(rel='icon', type='image/png', href='/favicon/favicon-32x32.png?v=PYEREPLyrE', sizes='32x32')
  link(rel='icon', type='image/png', href='/favicon/favicon-16x16.png?v=PYEREPLyrE', sizes='16x16')
  link(rel='manifest', href='/favicon/manifest.json?v=PYEREPLyrE')
  link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg?v=PYEREPLyrE', color='#ffc40d')
  link(rel='shortcut icon', href='/favicon/favicon.ico?v=PYEREPLyrE')
  meta(name='apple-mobile-web-app-title', content='lukasziegler.com')
  meta(name='application-name', content='lukasziegler.com')
  meta(name='msapplication-config', content='/favicon/browserconfig.xml?v=PYEREPLyrE')
  meta(name='theme-color', content='#dfb95d')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300,700|Open+Sans:300,400&display=swap' rel='stylesheet')
  script(type='text/javascript', src='//use.typekit.net/gwz3goh.js')
  script(type='text/javascript').
    try {
      Typekit.load();
    } catch (e) {}

  body
    header.header.header--handpan
      .header__content
        h1.header__title
          a(href='/') Lukas Ziegler
        h2.header__slogan
          a.header__slogan-link.scroll(href='#panelStudies') Handpan lernen

    .panel#panelStudies
      h3.panel__headline Handpan Workshops
      .panel__container
        .panel__content-block
          p.panel__paragraph
            b Bist du auch fasziniert von den Klängen der Handpan? <br> Und möchtest du schon lange wieder ein neues Instrument lernen?

          p.panel__paragraph Dann ist dieser Halbtages-Workshop perfekt für dich! Ich führe dich Schritt für Schritt an die Grundlagen des Handpan-Spiels heran. Wir lernen nach der bewährten <a href="https://www.maltemartenmethod.com/" class="link">Malte Marten Methode</a>, die einen intuitiven und meditativen Zugang zum Handpan-Spielen ermöglicht. Du lernst einfache Patterns (Abfolgen), die du frei kombinieren kannst, um deinen eigenen musikalischen Ausdruck zu finden.

          p.panel__paragraph 
            <b>🎶 Keine Vorkenntnisse notwendig</b> <br> Es sind keine Vorkenntnisse notwendig. Du wirst Schritt für Schritt an den Umgang und die Spielweise herangeführt. Dieser Workshop ist ideal für alle, die noch keine Erfahrung mit der Handpan haben oder erst vor wenigen Monaten damit angefangen haben. Wir werden die Grundlagen der Malte Marten Method behandeln und dir die Tools für freies Spielen beibringen.

          p.panel__paragraph <b> 🛸 Kein eigenes Instrument notwendig</b><br> Auf diesem Workshop wird auf Basis von Handpans mit der D-Kurd Stimmung unterrichtet. Bitte mit einer D-Kurd 440Hz kommen oder dir eine ausleihen. Falls du keine eigene Handpan in der D-Kurd Stimmung hast, kannst du dir für den Workshop eine Handpan ausleihen, welche du anschließend vergünstigt zum Workshop-Preis erwerben kannst.

          p.panel__paragraph <b>🕙 Dauer</b><br> Jeder Workshop dauert <b>vier Stunden</b> und bietet dir einen entspannten Einstieg ins Handpan-Spielen. Snacks und die Möglichkeit für eine kurze Pause, die auch zum freien Spielen genutzt werden kann, wird gegeben sein.

          
        .panel__image-block.panel__image-block--right
          img.panel__image-view(src='img/mockup-iphone.png', alt='')

    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-bright.jpg);')
      .row-container.row-teaser
    
    .panel
      h3.panel__headline Die nächsten Termine
      .panel__container
        .panel__content-block
          p.panel__paragraph Die nächsten Handpan-Workshops finden statt am:
          
          ul.panel-list.panel-list--left-aligned_desktop
            li.panel-list__item <b>12. April 2025</b> (14-18 Uhr) – im <a href="https://maps.app.goo.gl/TvnCGAAM7k2kNcjC9" target="_blank" class="link">Aryuveda Zentrum Hallein</a>
            li.panel-list__item <b>17. Mai 2025</b> (14-18 Uhr) – im <a href="https://maps.app.goo.gl/TvnCGAAM7k2kNcjC9" target="_blank" class="link">Aryuveda Zentrum Hallein</a>

          p.panel__paragraph 
            <b>💸 Kosten: 80 Euro</b> für Workshop (+ optional Leihgebühr für Handpan)<br>
            <b>🛸 Leihgebühr: 30 Euro</b> für Handpan-Miete (optional)

          p.panel__paragraph Falls eine der Workshop Handpans abgekauft wird, wird der Betrag für die Miete gutgeschrieben.

          p.panel__paragraph 
            <b>Such dir deinen Wunschtermin aus und sei dabei!</b><br>Überlegst du noch oder hast du Fragen? Schreib mir gerne gerne über <a href="https://wa.me/qr/OHNIKZZWK43VC1" class="link">WhatsApp</a>.

        .panel__image-block.panel__image-block--right
          img.panel__image-view(src='img/iceland.jpg', alt='')

    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-dark.jpg);')
      .row-container.row-teaser

    .panel
      h3.panel__headline Anmeldung
      .panel__container
        .panel__content-block
          p.panel__paragraph Zur Anmeldung genügt eine kurze Nachricht und du erhältst im Anschluss einen Kennenlernfragebogen und die Rechnung per E-Mail. Du kannst dich anmelden über eine E-Mail an <a href="mailto:anmeldung@lukasziegler.com" class="link">anmeldung@lukasziegler.com</a> oder per <a href="https://wa.me/qr/OHNIKZZWK43VC1" class="link">WhatsApp</a>.

          button Ich bin dabei!

    include ../templates/footer.pug
