doctype html
html(lang='en')
  include templates/header.pug
  body
    header.header
      .header__content
        h1.header__title
          a(href='/') lukasziegler.com
        h2.header__slogan
          a.header__slogan-link.scroll(href='#panelStudies') Stay Curious


    .panel#panelStudies
      h3.panel__headline My journey
      .panel__container.panel__container--bottom-padding
        .panel__content-block
          p.panel__paragraph For more than 20 years, I’ve followed my passion — and along the way, discovered new sides and interests of myself. This has had a substantial impact on who I am, what I’ve learned, and what I now offer. What all my projects and career steps have in common is approaching the things I do with an open and curious mind — learning and evolving with each step. I see (work) life as a lifelong journey, where passion and curiosity guides us the way.

      h3.panel__headline Work life
      .panel__container
        .panel__content-block
          p.panel__paragraph Through my studies in <a href='https://www.cit.tum.de/' class='link' target='_blank'>Computer Science</a> and <a href='https://www.medien.ifi.lmu.de/' class='link' target='_blank'>Media Informatics</a>, I built a solid foundation in both technical and visual fields. In 2015, I started working as a Web Developer at <a href='https://www.redbullmediahouse.com/' class='link' target='_blank'>Red Bull Media House</a> on redbull.com and soon transitioned to a hybrid role, working as a UX Engineer at the intersection of design and development. After my sabbatical 2019 in Nepal, my journey led me to <a href='https://www.redbull.com/' class='link' target='_blank'>Red Bull IT</a> in the field of Innovation Management, where I followed my urge to shape the future. In 2022, I started working as a Product Designer at <a href='https://www.climatepartner.com/' class='link'  target='_blank'>ClimatePartner</a>, building products to help companies reduce their carbon footprint and take climate action. Throughout this journey, I’ve realized the importance of balancing full-on screen work with something more hands-on, heartfelt and connected to the moment.

          p.panel__paragraph And this is why I am now building a second path for myself — offering <a href='https://retreats-in-oesterreich.at/' class='link' target='_blank'>retreats</a>, <a href='https://linktr.ee/lukasziegler' class='link' target='_blank'>sound meditations</a> and <a href='https://lukasziegler.com/handpan/' class='link'>handpan workshops</a>.
          
        .panel__image-block.panel__image-block--right
          img.panel__image-view(src='img/mockup-iphone.png', alt='')

    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-bright.jpg);')
      .row-container.row-teaser
    
    .panel
      h3.panel__headline Personal interests
      .panel__container
        .panel__content-block
          p.panel__paragraph My interests range from technology to arts, to fully immersing myself in outdoor sports, to sitting still and enjoying the beauty of nature. The time I spent abroad had a profound effect on me and lets me believe in the connectedness of the world. This realization, combined with daily mindfulness practices, are what motivates me to strive for an improvement of the status quo in all aspects of life.
          
        .panel__image-block.panel__image-block--left
          img.panel__image-view(src='img/iceland.jpg', alt='')

    .row.row-dark.full-width.row-bg(style='background-image: url(img/panel-dark.jpg);')
      .row-container.row-teaser

    .panel
      h3.panel__headline Side projects
      .panel__container
        .panel__content-block
          p.panel__paragraph Throughout my studies I was able to combine my passion for sports with my interest for media and technology. In my freelance work for the <a href='http://www.leichtathletik.de/' class='link' target='_blank'>German Athletics Association</a> I acquired a lot of my practical experience. In order to give my university projects a deeper meaning I worked on a student-based research project called <a href='http://lmu-navigator.github.io/' class='link' target='_blank'>LMU Roomfinder</a>. During my sabbatical in 2019/2020 I started contributing to <a href='https://climatemind.org/' class='link' target='_blank'>Climate Mind</a>, an open source project working on organizing scientific facts around climate change and making them accessible in an easy and personalized way.
        .panel__image-block.panel__image-block--right
          img.panel__image-view(src='img/mockup-ipad.png', alt='', style='width: 300px')

    include templates/footer.pug
